<launch>
  
  <arg name="stage" default="2"/>
  <arg name="algo" default="sac"/>
  
  <include file="$(find turtlebot3_drl_pp)/launch/stage_$(arg stage).launch">  
    <arg name="name" value="agent"/>
  </include>
  
  <node pkg="turtlebot3_drl_pp" type="stage_$(arg stage)_$(arg algo)" name="stage_$(arg stage)_$(arg algo)" output="screen" />
  
  <node pkg="turtlebot3_drl_pp" type="obstacle_controller_1" name="obstacle_controller_1" output="screen" />
  <node pkg="turtlebot3_drl_pp" type="obstacle_controller_2" name="obstacle_controller_2" output="screen" />

</launch>
